/* raw elements */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    transition: all 400ms;
    border-radius: 1px;
    color: #8f4d4d;
    padding: 5px 10px;
    text-shadow: .5px .5px #000, .5px .5px #808080, .5px .5px #000;
    background: #781212;
    border: 2px outset #ca4c4c;
}
    button:active {
        transition:all 400ms;
        border: 2px inset #ca4c4c;
        text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
    }

input[type=button] {
    background: none;
    border: thick;
    padding: 6px 8px;
}

input[type=text] {
    background: lightgrey;
    text-indent: 5px;
}

    input[type=text]:focus {
        background: #fff;
    }

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        transition: all 200ms;
        font-size: 20px;
        text-shadow: 1px 1px #fff, 1px 1px #fff, 1px 1px #fff;
        background: lightgrey;
        border: 2px outset lightgrey;
        color: #000;
        display: inline-block;
        padding: 2px;
        width: 35px;
        line-height: 35px;
    }

    input[type="radio"]:checked + label {
        transition: all 200ms;
        font-size: 20px;
        text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000;
        background: #808080;
        border: 2px inset grey;
        color: #808080;
        display: inline-block;
        padding: 2px;
        width: 35px;
        line-height: 35px;
    }


/* classes */
.myFrame {
    height: 80%;
    margin-top: 1%;

    text-align: center;

}

.startPageBtn {
    width: 20%;
    margin: 1% 40%;
}

.playerSetupPage {
    transition: all 500ms;
    position: relative;
    top: 120%;
    background: #781212;
    width: 100%;
    height: 100%;
}

.playerSetupPage_full {
    transition: all 500ms;
    position: relative;
    top: 0;
    background: #781212;
    width: 100%;
    height: 100%;
}

.xBtns {
    position: relative;
    float: right;
    right: 10px;
    top: -24px;
    line-height: 20px;
    padding: 2px;
    width: 20px;
    background: grey;
}

.playerItems {
    color: #000;
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
}

    .playerItems span:nth-child(1) {
        float: left;
        margin-left: 5px;
        padding: 5px 0;
        width: 100px;

        text-align: left;
    }

    .playerItems span:nth-child(2) {
        float: right;
        margin-left: 5px;
        padding: 5px 0;
        width: 50px;

    }

.theTable {
    transition: all 500ms;
    width: 160px;
    position: absolute;
    background: #781212;
    left: -190px;
}

.theTable_full {
    transition: all 500ms;
    width: 160px;
    position: absolute;
    background: #781212;
    left: 5px;
}

.memePanel {
    transition: all 500ms;
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
    display: inline-block;
    position: relative;
    float: left;
    left: 0;
    top: 150%;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

.memePanel_full {
    transition: all 500ms;
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
    display: inline-block;
    position: relative;
    float: left;
    left: 0;
    top: 99%;
    bottom: 0;
    opacity: 1;
    width: 100%;
}

.memePanelBtns {
    width: 50px;
    position: static;
    line-height: 50px;
    border: 2px outset rgba(225, 8, 8, 0.62);
    background: #781212;
    margin: 0 2px;
    display: inline-block;
}

    .memePanelBtns:active {
        border: 2px inset rgba(225, 8, 8, 0.62);
        text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
    }

.myTimer, .timeCtrlCell {
    transition: all 500ms;
    box-shadow: 0 0 2px rgba(225, 8, 8, 0.62);
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
    display: inline-block;
    position: relative;
    background: #781212;
    left: 0;
    top: -100px;
    padding: 5px 0;
    opacity: 0;
}

.myTimer_full, .timeCtrlCell_full {
    transition: all 500ms;
    box-shadow: 0 0 2px rgba(225, 8, 8, 0.62);
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
    display: inline-block;
    position: relative;
    background: #781212;
    left: 0;
    top: 0;
    padding: 0;
    opacity: 1;
}

.timerItems {
    color: #000;
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
    margin: 0 5px;
    display: inline-block;
    border: 2px inset rgba(225, 8, 8, 0.62);
    width: 100px;
}

.timeCtrlItems {
    transition: all 900ms;
    color: rgba(225, 8, 8, 0.62);
    text-align: center;
    margin: 0 1px;
    display: inline-block;
    padding: 0 5px;
    width: 30px;
    border: 2px outset rgba(225, 8, 8, 0.62);
}

.timeCtrlItems_active {
    transition: all 900ms;
    color: rgba(0,0,0,.3);
    background: rgba(0,0,0,.1);
    text-align: center;
    margin: 0 1px;
    display: inline-block;
    padding: 0 5px;
    width: 30px;
    border: 2px inset rgba(225, 8, 8, 0.62);
    text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
}

.statusDiv {
    transition: all 1s;
    width: 1%;
    line-height: 50px;
    border: 2px outset rgba(225, 8, 8, 0.62);
    background: #781212;
    margin: 0 2px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
}

.statusDiv_full {
    transition: all 1s;
    width: 40%;
    line-height: 50px;
    border: 2px outset rgba(225, 8, 8, 0.62);
    background: #781212;
    margin: 0 2px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
}

.menuPages {
    transition: all 500ms;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px outset rgba(225, 8, 8, 0.62);
    background: #781212;
    margin: 0;
    display: inline-block;
}

.menuPages_full {
    transition: all 500ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px outset rgba(225, 8, 8, 0.62);
    background: #781212;
    margin: 0;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
}

    .menuPages h2 span:nth-child(1), .menuPages_full h2 span:nth-child(1) {
        float: left;
        margin-left: 10%;
        margin-top: 10px;
    }

    .menuPages h2 span:nth-child(2), .menuPages_full h2 span:nth-child(2) {
        float: right;
        margin-right: 10%;
        margin-top: 10px;
        border: 2px outset rgba(225, 8, 8, 0.62);
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
    }

        .menuPages h2 span:nth-child(2):active, .menuPages_full h2 span:nth-child(2):active {
            border: 2px inset rgba(225, 8, 8, 0.62);
            text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
        }

.climate {
    transition: all 700ms;
    position: relative;
    box-shadow: 0 0 10px pink;
    background-position: center;
    background-size: 640px 640px;
    background-repeat: no-repeat;
    margin: 100vh auto 0 auto;
    width: 640px;
    height: 640px;
    border-radius: 4px;
}

.climate_full {
    transition: all 500ms;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.56);
    background-position: center;
    background-size: 640px 640px;
    background-repeat: no-repeat;
    margin: 10px auto;
    width: 640px;
    height: 640px;
    border-radius: 4px;
}
/* id's */
#homeBtn {
    display:inline-block;
    position:relative;
    clear:both;
    margin-top:100px;
    margin:50px;
    float:left;
}

#setupX {
    color: #000;
    background:#781212;
    text-shadow: .5px .5px rgba(225, 8, 8, 0.62), .5px .5px #808080, .5px .5px rgba(225, 8, 8, 0.62);
}
    #setupX:active {
        text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
    }

#genderSpn {
    transition: all 300ms;
    font-size: 20px;
    text-shadow: 1px 1px #fff, 1px 1px #fff, 1px 1px #fff;
    background: #781212;
    border: 2px solid transparent;
    color: #000;
    display: inline-block;
    padding: 2px;
    width: 85px;
    line-height: 35px;
}

#dvContain {
    height: 100%;
}


#playerBox {
    margin: 1px auto;
    width: 235px;
    height: 235px;
    background: #781212;
}
/* misc */

/* media queries */
