/* raw elements */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*
    background: #20282c;
    */
}
html {
    background-image: url('../images/bgnd/texture9.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    background:rgba(0,0,0,0);
}
i {
}

select {
    border: none;
    background: #FECEA8;
    outline: none;
    cursor: pointer;
}

    select::-ms-expand {
        background: #FECEA8;
    }

button {
    padding: 12px 15px;
    font-weight: bolder;
}

input[type=button] {
    background: none;
    border: thick;
    padding: 6px 8px;
    font-weight: bolder;
    text-shadow: .5px .5px #000, .5px .5px #FECEA8, .5px .5px #000;
    background: #FECEA8;
    border: 6px outset #FECEA8;
}

    input[type=button]:active {
        background: rgba(83, 0, 0, 0.41);
        border: 6px outset #FECEA8;
    }

input[type=text] {
    background: #8f4d4d;
    text-indent: 5px;
    border: 6px inset #FECEA8;
    color: #fff;
}

    input[type=text]:focus {
        background: rgba(255, 255, 255, 0.60);
        color: rgba(0,0,0,.7);
        border: 6px inset #FECEA8;
    }

input[type=range] {
    -webkit-appearance: none;
    background-color: rgba(83, 0, 0, 0.81);
    width: 200px;
    height: 8px;
    border-radius: 13px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    opacity: 0.5;
    width: 10px;
    height: 10px;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        transition: all 250ms;
        font-size: 20px;
        text-shadow: 1px 1px #fff, 1px 1px #fff, 1px 1px #fff;
        background: #FECEA8;
        border: 6px outset #FECEA8;
        color: rgba(0, 0, 0, 0.77);
        display: inline-block;
        padding: 2px;
        width: 35px;
        line-height: 35px;
        font-weight: bolder;
        margin: 0 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.98);
    }

    input[type="radio"]:checked + label {
        transition: all 250ms;
        font-size: 20px;
        text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000;
        background: #4f1010;
        border: 6px inset #FECEA8;
        color: #808080;
        display: inline-block;
        padding: 2px;
        width: 35px;
        line-height: 35px;
        margin: 0 4px;
        font-weight: bolder;
        box-shadow: 0 0 1px #fff;
    }

input:-ms-input-placeholder {
    color: red;
    font-weight: bolder;
}

input::selection {
    background: #cc0000;
    color: #ffffff;
}
/* classes */
.opts {
    background: #FECEA8;
    border: none;
    font-size: 22px;
}

.myFrame {
    height: 80%;
    margin-top: 1%;
    text-align: center;
    font-weight: bolder;
}

.startPageBtn {
    width: 20%;
    margin: 1% 40%;
}
.startPageBtn:nth-child(1) {
    margin-top:20%;
}
.playerSetupPage {
    transition: all 250ms;
    position: relative;
    top: 200%;
    background: #FECEA8;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.77);
}

.playerSetupPage_full {
    transition: all 250ms;
    position: relative;
    top: 0;
    background: #FECEA8;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.77);
}

.xBtns {
    position: relative;
    float: right;
    right: 10px;
    top: -24px;
    line-height: 20px;
    padding: 2px;
    width: 20px;
    background: grey;
    font-weight: bolder;
}

.playerItems {
    color: rgba(0, 0, 0, 0.77);
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
}

    .playerItems span:nth-child(1) {
        float: left;
        padding: 6px 0;
        width: 100px;
        text-align: left;
    }

    .playerItems span:nth-child(2) {
        float: right;
        margin-right:10px;
        padding: 6px 0;
        width: 40px;

        font-weight: bolder;
    }

.setupConfirm {
    border: 6px outset rgba(0, 0, 0, 1) !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.98);
}

    .setupConfirm:active {
        border: 6px inset rgba(0, 0, 0, 0.62) !important;
        box-shadow: 0 0 1px rgba(220, 220,220, 1);
    }

.theTable {
    transition: all 250ms;
    width: 250px;
    position: absolute;
    background: #FECEA8;
    top: 10px;
    left: -290px;
    border: 6px inset #FECEA8;
    box-shadow: 0 0 1px #fff;
    font-weight: bolder;
    padding: 3px 0;
}

.theTable_full {
    transition: all 250ms;
    width: 170px;
    position: absolute;
    background: #FECEA8;
    top: 10px;
    left: 15px;
    border: 6px inset #FECEA8;
    box-shadow: 0 0 1px #fff;
    font-weight: bolder;
    padding: 3px 0;
}

.infoLabels {
    display: inline-block;
    width: 150px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.77);
}
.spnBubble_wrap {
    background-image: url('../images/assets/bubble.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 60%;
}
.spnBar {
    box-shadow:0 0 1px #fff;
    background:rgba(0, 0, 0, 0.54);

}


.memePanel {
    transition: all 250ms;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: relative;
    float: left;
    left: 0;
    top: 150%;
    bottom: 0;
    width: 100%;
    opacity: 0;
    border: none;
    font-weight: bolder;
}

.memePanel_full {
    transition: all 250ms;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: absolute;
    float: left;
    left: 0;
    top: 90%;
    bottom: 0;
    opacity: 1;
    width: 100%;
    border: none;
    font-weight: bolder;
}

.memePanelBtns {
    width: 50px;
    position: relative;
    line-height: 50px;
    border: 6px outset #FECEA8;
    background: #FECEA8;
    margin: 0 12px;
    display: inline-block;
    font-weight: bolder;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.98);
    z-index: 17;
}

    .memePanelBtns:active {
        border: 6px inset #FECEA8;
        text-shadow: .5px 0 rgba(83, 0, 0, 0.41), .5px .5px rgba(83, 0, 0, 0.41), .5px 0 rgba(83, 0, 0, 0.41);
        box-shadow: 0 0 1px #fff;
    }

.myTimer, .timeCtrlCell {
    transition: all 250ms;
    box-shadow: 0 0 1px #fff;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: relative;
    background: #FECEA8;
    left: 0;
    top: -100px;
    padding: 12px 10px;
    opacity: 0;
    font-weight: bolder;
    border: 6px inset #FECEA8;
}

.myTimer_full, .timeCtrlCell_full {
    transition: all 250ms;
    box-shadow: 0 0 1px #fff;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: relative;
    background: #FECEA8;
    left: 0;
    top: 0;
    padding: 12px 10px;
    opacity: 1;
    font-weight: bolder;
    border: 6px inset #FECEA8;
}

.timerItems {
    color: rgba(0, 0, 0, 0.78);
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    margin: 2px 5px;
    display: inline-block;
    border: 6px dotted rgba(232, 74, 95, 0.60);
    width: 100px;
    background: rgba(120, 183, 118, 0.31);
}

.timeCtrlItems {
    transition: all 250ms;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 3px 9px;
    display: inline-block;
    padding: 3px 5px;
    width: 30px;
    border: 2px outset #FECEA8;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
}

.timeCtrlItems_active {
    transition: all 250ms;
    color: rgba(0,0,0,.3);
    background: rgba(0,0,0,.1);
    text-align: center;
    margin: 3px 9px;
    display: inline-block;
    padding: 3px 5px;
    width: 30px;
    border: 2px inset #FECEA8;
    text-shadow: .5px 0 rgba(83, 0, 0, 0.81), .5px .5px rgba(83, 0, 0, 0.81), .5px 0 rgba(83, 0, 0, 0.81);
}

.moneyTab {
    transition: all 250ms;
    box-shadow: 0 0 1px #fff;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: absolute;
    background: #FECEA8;
    right: -100px;
    width: 30px;
    top: 10px;
    padding: 8px 0;
    opacity: 0;
    color: rgba(0, 0, 0, 0.77);
    border: 6px inset #FECEA8;
}

.moneyTab_full {
    transition: all 250ms;
    border: 6px inset #764747;
    box-shadow: 0 0 1px #fff;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    display: inline-block;
    position: absolute;
    background: #FECEA8;
    width: auto;
    right: 15px;
    top: 10px;
    padding: 8px 12px;
    opacity: 1;
    color: rgba(0, 0, 0, 0.77);
    border: 6px inset #FECEA8;
}

.statusDiv {
    transition: all 250ms;
    width: 1%;
    position: fixed;
    height: 400px;
    border: 6px inset #FECEA8;
    box-shadow: 0 0 1px #fff;
    background: #FECEA8;
    margin: 0 2px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    overflow-y: scroll;
    bottom: 10px;
    right: 15px;
    text-align: center;
    -ms-overflow-style: none;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
}

.statusDiv_full {
    transition: all 250ms;
    width: 170px;
    position: fixed;
    height: 400px;
    border: 6px inset #FECEA8;
    box-shadow: 0 0 1px #fff;
    background: #FECEA8;
    margin: 0 2px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    text-align: left;
    bottom:10px;
    right: 15px;
    overflow-y: scroll;
    text-indent: 8px;
    -ms-overflow-style: none;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
}

.menuPages, .warnPage {
    transition: all 250ms;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FECEA8;
    margin: 0;
    display: inline-block;
}

.menuPages_full, .warnPage_full {
    transition: all 250ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FECEA8;
    margin: 0;
    display: inline-block;
    color: rgba(0, 0, 0, 0.61);
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
    z-index: 20;
}

    .menuPages h2 span:nth-child(1), .menuPages_full h2 span:nth-child(1) {
        float: left;
        margin-left: 10%;
        margin-top: 10px;
    }

    .menuPages h2 span:nth-child(2), .menuPages_full h2 span:nth-child(2) {
        float: right;
        margin-right: 10%;
        margin-top: 10px;
        border: 6px outset #a06060;
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
    }

    .menuPages_full p {
        position: relative;
        display: inline-block;
        clear: both;
        float: left;
        left: 80px;
        width: 500px;
        font-size: 22px;
        text-align: left;
    }

        .menuPages_full p input, .menuPages_full p select, .menuPages_full p button {
            float: right;
            font-size: 22px;
        }

        .menuPages_full p span {
            display: inline-block;
            line-height: 10px;
            margin: 0 0 20px 0;
        }

            .menuPages_full p span:nth-child(1) {
            }

            .menuPages_full p span:nth-child(2) {
            }

.dvMemeHolder {
    position: absolute;
    background-color: #000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 520px;
    height: 340px;
    left: 680px;
    top: 140px;
    box-shadow: 0 0 6px rgba(10, 10, 10, 0.95);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    padding: 0 4px;
}

.climate {
    transition: all 250ms;
    position: relative;
    box-shadow: 0 0 2px #FFF;
    background-position: center;
    background-size: 640px 640px;
    background-repeat: no-repeat;
    margin: 100vh auto 0 auto;
    width: 640px;
    height: 640px;
    border-radius: 5px;
}

.climate_full {
    transition: all 250ms;
    position: relative;
    box-shadow: 0 0 2px #FFF;
    background-position: center;
    background-size: 640px 640px;
    background-repeat: no-repeat;
    background-color: #FFF;
    margin: 45px auto 0 auto;
    width: 640px;
    height: 640px;
    border-radius: 5px;
    z-index: 15;
    box-shadow: 0 -500px 300px -100px rgba(0,0,0,0.8) inset, 0 60px 60px 0 rgba(242, 241, 241, 0.10) inset, 0 0 2px #fff;
}

.elemFloor {
    height: 240px;
    position: relative;
    background-color: #FFF;
    background-position: center;
    background-size: 640px 640px;
    background-repeat: no-repeat;
    bottom: 0;
    top: 400px;
    box-shadow: 0 80px 70px 0 rgba(0,0,0,0.9) inset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 9px solid black;
}

.projectPanel {
    left: -350px;
    bottom: 10px;
}

.projectPanel_full {
    left: 15px;
    bottom: 10px;
}

.projectPanel, .projectPanel_full {
    transition: all 250ms;
    position: absolute;
    background: #FECEA8;
    width: 250px;
    
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.77);
    border: 6px inset #FECEA8;
    box-shadow: 0 0 1px #fff;
    font-weight: bolder;
    padding: 6px 0;
    text-shadow: .5px .5px rgba(225, 182, 182, 0.62), .5px .5px #764747, .5px .5px rgba(225, 182, 182, 0.62);
}

    .projectPanel_full span {
        color: #fff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: bold;
        padding: 0 4px;
    }
/* id's */
#homeBtn {
}

#userLog {
}

#dvHold {
    display: inline-block;
    position: relative;
    clear: both;
    float: left;
    left: 40px;
    top: 50px;
}

#setupX {
    margin-top: 5%;
    margin-right: 2%;
    text-align: center;
}


#genderSpn {
    transition: all 250ms;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.77);
    background: #FECEA8;
    border: 6px solid transparent;
    text-shadow: .5px .5px #000, .5px .5px rgba(255, 255, 255, 0.47), .5px .5px #000;
    display: inline-block;
    padding: 2px;
    width: 85px;
    line-height: 35px;
}

#dvContain {
    height: 100%;
}


#playerBox {
    margin: 1px auto;
    width: 500px;
    height: 235px;
    background: #FECEA8;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}

#rd1, #rd2 {
}

#projForm {
    position: relative;
    box-shadow: 0 0 2px red;
}

#spn1Display {
    position: relative;
    display: block;
    top: 10px;
    word-wrap: break-word;
}

#spn2Display {
    position: relative;
    display: block;
    top: 140px;
    word-wrap: break-word;
}

#spnMeme1Holder {
    position: relative;
    display: block;
    top: 20px;
    word-wrap: break-word;
}

#spnMeme2Holder {
    position: relative;
    display: block;
    top: 205px;
    word-wrap: break-word;
    height: 50px;
    align-self: stretch;
}

#dvFill {
    position: absolute;
    float: left;
    width: 520px;
    left: 680px;
    top: 540px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 0 4px;
}

    #dvFill span:nth-child(1) {
        background-image: url('../images/game-icons/docIcon.png');
    }

    #dvFill span:nth-child(2) {
        margin: 0 50px;
        background-image: url('../images/game-icons/friendsIcon.png');
    }

    #dvFill span:nth-child(3) {
        background-image: url('../images/game-icons/timeIcon.png');
    }

    #dvFill span:nth-child(1), #dvFill span:nth-child(2), #dvFill span:nth-child(3) {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-size: 100px;
        background-position: center;
        background-repeat: no-repeat;
    }

#dvProjMeme {
    width: 240px;
    height: 200px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
}
#dvEX_0 {
    background:rgba(0,0,0,0.5);
    width:90%;
    margin:4px auto;
}
#dvEX_1 {
    width: 10px;
}
#dvEX_2 {
    width: 15px;
}
#dvEX_3 {
    width: 19px;
}
#dvEX_4 {
    width: 30px;
}
#dvEX_5 {
    width: 100px;
}
#dvEX_6 {
    width: 60px;
}
#dvEX_7 {
    width: 55px;
}
/* misc */
#dvEX_1, #dvEX_2, #dvEX_3, #dvEX_4, #dvEX_5, #dvEX_6, #dvEX_7 {
    height: auto;
    background: rgba(27, 196, 20, 0.59);
    display: inline-block;
    clear: left;
    float: left;
    box-shadow: 0 0 1px #31fd3a;
    margin-left: 10px;

}

    #dvEX_1 span, #dvEX_2 span, #dvEX_3 span, #dvEX_4 span, #dvEX_5 span, #dvEX_6 span, #dvEX_7 span {
        text-indent:7px;
    }


    button, #setupX, .menuPages h2 span:nth-child(2), .menuPages_full h2 span:nth-child(2), .button_off, .button_on {
        transition: all 250ms;
        border-radius: 1px;
        color: rgba(255, 255, 255, 0.47);
        text-shadow: .5px .5px #000, .5px .5px rgba(255, 255, 255, 0.47), .5px .5px #000;
        background: #FECEA8;
        border: 6px outset #805f46;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.98);
    }

    button:active, #setupX:active, .menuPages h2 span:nth-child(2):active, .menuPages_full h2 span:nth-child(2):active, .button_off, .button_on {
        transition: all 250ms;
        border: 6px inset #FECEA8;
        color: rgba(0, 0, 0, 0.47);
        text-shadow: .5px .5px #000, .5px .5px rgba(25, 25, 25, 0.27), .5px .5px #000;
        box-shadow: 0 0 1px #fff;
    }
.spnBubble, .spnBar {
    margin: 0;

}
    /* media queries */
